<div class="container mt-5">
  <div class="row">
    <!-- ジャンル検索 -->
    <div class="col-md-3 mb-4 mt-1">
      <%= render "user/searches/genre_search", genres: @genres %>
    </div>
    
    <div class="col-md-9">
      <div class="album bg-body-tertiary">
        <div class="container">
          <div class="text-center">
            <h2 class="d-inline">"<%= @keyword %>"の検索結果</h2>
            <span class="m-3 mb-0">(全<%= @results_all.count if @results_all.present? %>件)</span>
          </div>
          <hr class="heading-line">
          
          <% if @results.any? %>
            <%= render "user/posts/post_index", posts: @results %>
          <% else %>
            <div class="text-center mt-5 mb-5">
              <p>投稿はありません</p>
            </div>
          <% end %>
        </div>

        <!-- Pagination -->
        <div class="row">
          <div class="col text-center m-3">
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                <li class="page-item <%= 'disabled' unless @posts.prev_page %>">
                  <%= link_to_prev_page @posts, '<span aria-hidden="true">«</span>'.html_safe, class: "page-link", aria: { label: "Previous" } %>
                </li>
                <% @posts.total_pages.times do |i| %>
                  <li class="page-item <%= 'active' if @posts.current_page == i + 1 %>">
                    <%= link_to (i + 1).to_s, url_for(page: i + 1, keyword: @keyword), class: "page-link" %>
                  </li>
                <% end %>
                <li class="page-item <%= 'disabled' unless @posts.next_page %>">
                  <%= link_to_next_page @posts, '<span aria-hidden="true">»</span>'.html_safe, class: "page-link", aria: { label: "Next" } %>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
