<div class="container mt-4 overflow-auto">
  <div class="row my-3">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2>投稿一覧</h2>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-sm-10 px-sm-0 offset-sm-1">
      <table class="table table-hover table-bordered text-center">
        <thead>
          <tr class="table-secondary">
            <th style="width: 30%;">タイトル</th>
            <th style="width: 30%;" class="d-none d-md-table-cell">内容</th>
            <th style="width: 20%;">ジャンル</th>
            <th style="width: 20%;">削除</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
          <tr>
            <td><%= link_to truncate(post.title, length: 10), admin_post_path(post.id), class: "border:solid 1px" %></td>
            <td class="d-none d-md-table-cell"><%= truncate(post.introduction, length: 10) %></td>
            <td><%= truncate(post.genre.name, length: 5) %></td>
            <td>
              <%= link_to '削除', admin_post_path(post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
      <!-- Pagination -->
      <div class="col text-center m-3">
        <nav class="paginate" aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item">
              <%= link_to_prev_page @posts, '<span aria-hidden="true">«</span>'.html_safe, class: "page-link", aria: { label: "Previous" } %>
            </li>
            <% @posts.total_pages.times do |i| %>
              <li class="page-item <%= 'active' if @posts.current_page == i + 1 %>">
                <%= link_to (i + 1).to_s, url_for(page: i + 1), class: "page-link" %>
              </li>
            <% end %>
            <li class="page-item">
              <%= link_to_next_page @posts, '<span aria-hidden="true">»</span>'.html_safe, class: "page-link", aria: { label: "Next" } %>
            </li>
          </ul>
        </nav>
      </div>
  </div>
</div>
