<div class="container">
  <div class="row my-3">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2>投稿一覧</h2>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-sm-10 px-sm-0 offset-sm-1">
      <table class="table table-hover table-bordered text-center">
        <thead>
          <tr>
            <th class="table-active">タイトル</th>
            <th class="table-active">内容</th>
            <th class="table-active">ジャンル</th>
            <th class="table-active">削除</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
          <tr>
            <td><%= link_to truncate(post.title, length: 10), admin_post_path(post.id), class: "border:solid 1px" %></td>
            <td><%= truncate(post.introduction, length: 15) %></td>
            <td><%= post.genre.name %></td>
            <td>
              <%= link_to '削除', admin_post_path(post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col text-center m-3">
      <%= link_to_prev_page @posts, '戻る', class: "paginate py-2 px-4" %>
      <%= link_to_next_page @posts, '次へ', class: "paginate py-2 px-4" %>
    </div>
  </div>
</div>