<div class="container mt-5 px-1 py-2">
  <h2 class="text-center mb-4">投稿詳細</h2>
  <hr class="heading-line mb-4">

  <div class="card mt-4 mx-auto" style="max-width: 600px;">
    <div class="card-body">
      <div class="d-flex align-items-center mb-4">
        <%= image_tag @post.user.get_profile_image, size: '50x50', class: "rounded-circle mr-3" %>
        <div><%= link_to @post.user.name, admin_user_path(@post.user.id), class: "text-dark font-weight-bold" %></div>
      </div>

      <div class="text-center p-4 mb-4">
        <% if @post.image.attached? %>
          <%= image_tag @post.image, class: "w-100 rounded shadow-sm" %>
        <% else %>
          <%= image_tag 'no_image.png', class: "w-100 rounded shadow-sm" %>
        <% end %>
      </div>

      <div class="mt-4 p-4">
        <div class="row mb-3">
          <div class="col-4 text-muted" style="border-bottom: 1px solid #ccc;">ジャンル</div>
          <div class="col-8 font-weight-bold" style="border-bottom: 1px solid #ccc;"><%= @post.genre.name %></div>
        </div>
        <div class="row mb-3">
          <div class="col-4 text-muted" style="border-bottom: 1px solid #ccc;">タイトル</div>
          <div class="col-8 font-weight-bold" style="border-bottom: 1px solid #ccc;"><%= @post.title %></div>
        </div>
        <div class="row mb-3">
          <div class="col-4 text-muted">内容</div>
          <div class="col-8 font-weight-bold"><%= simple_format @post.introduction %></div>
        </div>
      </div>
      
      <div class="card-footer text-right">
        <%=  link_to '削除', admin_post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-outline-danger" %>
      </div>
    </div>
  </div>

  <div class="mt-4 mx-auto" style="max-width: 600px;">
    <p class="mb-4">コメント件数：<%= @post.comments.count %></p>
    <% @post.comments.each do |comment| %>
      <div class="card mb-3">
        <div class="card-body d-flex align-items-center">
          <div class="text-center mr-3">
            <%= image_tag comment.user.get_profile_image, size: '50x50', class: "rounded-circle" %>
            <div><%= link_to comment.user.name,  "/my_page?id=#{comment.user.id}", class: "text-dark font-weight-bold" %></div>
          </div>
          <div class="flex-grow-1">
            <p class="mb-0"><%= comment.content %></p>
          </div>
        </div>
        <div class="card-footer text-right">
          <%= link_to "削除", admin_post_comment_path(@post, comment), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-outline-danger" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

