<div class="container mt-5">
  <div class="row">
    <!-- プロフィール -->
    <div class="col-md-3 mb-4 mt-1">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title mb-3"></h2>
          <div class="mb-3">
            <%= image_tag @user.get_profile_image || 'default_profile_image.png', size: '100x100', class: "rounded-circle" %>
          </div>
          <h5><%= @user.name %></h5>
          <p><%= @user.introduction %></p>
          <div class="row">
            <div class="col-sm">
              <% if current_user.email != "guest@example.com" && current_user == @user %>
                <%= link_to users_edit_path(@user), class: "btn btn-outline-secondary" do %>
                  <i class="fas fa-user-cog"></i> プロフィールを編集
                <% end %>
                <div class="row mt-2">
                  <div class="col-sm">
                    <%= link_to '<i class="far fa-heart"></i> いいね一覧'.html_safe, likes_path, class: "btn like_index_link custom-button" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ユーザーの投稿一覧 -->
    <div class="col-md-9">
      <div class="album bg-body-tertiary">
        <div class="container">
          <div class="text-center">
            <h2 class="d-inline"><%= @user.name %>さんの投稿一覧</h2>
            <span class="m-3 mb-0">(全<%= @user.posts.count %>件)</span>
          </div>
          <div class="text-right">
            <% if current_user == @user %>
              <%= link_to '', new_post_path, class: "fa-solid fa-square-plus custom-icon" %>
            <% end %>
          </div>
          <hr class="heading-line w-100">
          <div class="d-flex justify-content-end mb-2">
            <div class="btn-group mr-2" role="group" aria-label="Best Answer Filter">
              <%= link_to '解決済み', my_page_path(best_answer: "true"), class: "btn btn-outline-primary" %>
              <%= link_to '回答受付中', my_page_path(best_answer: "false"), class: "btn btn-outline-primary" %>
            </div>
            <div class="btn-group" role="group" aria-label="Sort options">
              <%= link_to '新しい順', my_page_path(latest: "true"), class: "btn btn-outline-primary" %>
              <%= link_to '古い順', my_page_path(old: "true"), class: "btn btn-outline-primary" %>
              <%= link_to 'いいね順', my_page_path(most_liked: "true"), class: "btn btn-outline-primary" %>
            </div>
          </div>
          <% if @posts.empty? %>
            <div class="mt-3">
              <p>投稿はありません</p>
            </div>
          <% else %>
            <div class="album bg-body-tertiary">
              
              <%= render "user/posts/post_index", posts: @posts %>
            </div>
              
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
