<div class="container mt-4">
  <h2 class="text-center mb-4">マイページ</h2>
  <div class="row">
    <div class="col-md-3 mb-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title"></h2>
          <div class="text-center mb-3">
            <%= image_tag @user.get_profile_image, size: '100x100', class: "rounded-circle" %>
          </div>
          <div class="text-center mb-3">
            <h5><%= @user.name %></h5>
          </div>
          <div class="text-center">
            <p><%= @user.introduction %></p>
          </div>
          <div class="text-center">
            <% if current_user == @user %>
              <%= link_to users_edit_path(@user), class: "btn btn-outline-secondary" do %>
                <i class="fas fa-user-cog"></i> プロフィールを編集
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="album  bg-body-tertiary">
        <div class="container">
          <h2><%= @user.name %>さんの投稿一覧</h2> 
          <div class="row row-cols-1 row-cols-md-3 g-3">
            <% @user.posts.each do |post| %>
              <div class="col-md-4 my-4"> 
                <div class="card shadow-sm" style="padding: 10px; height: 100%;"> 
                  <% if post.image.attached? %>
                    <%= image_tag post.image, class: "card-img-top img-fluid", alt: "Thumbnail", style: "width: 100%; height: 200px; object-fit: cover;" %>
                  <% else %>
                    <%= image_tag 'no_image.png', class: "card-img-top img-fluid", alt: "Thumbnail", style: "width: 100%; height: 200px; object-fit: cover;" %>
                  <% end %>
                  <div class="card-body">
                    <p class="card-text" style="font-size: 1rem;"><%= truncate(post.title, length: 15) %></p>
                    <p class="card-text" style="font-size: 0.875rem;"><%= truncate(post.introduction, length: 40) %></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <%= link_to "View", post_path(post), class: "btn btn-sm btn-outline-secondary" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
