
<div class="row"><!--row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">-->
  <% posts.each do |post| %>
    <div class="col-sm-6 col-lg-4 my-4">
      <div class="card card-custom shadow-sm" >
        <% if post.image.attached? %>
          <%= image_tag post.image, class: "card-img-top img-fluid", alt: "Thumbnail", style: "width: 100%; height: 200px; object-fit: cover;" %>
        <% else %>
          <%= image_tag 'no_image.png', class: "card-img-top img-fluid", alt: "Thumbnail", style: "width: 100%; height: 200px; object-fit: cover;" %>
        <% end %>
        <div class="card-body">
          <p class="card-text__title" style="font-size: 1rem;"><%= truncate(post.title, length: 10) %></p>
          <p class="card-text__introduction" style="font-size: 0.875rem;"><%= truncate(post.introduction, length: 25) %></p>
          <div class="d-flex justify-content-between align-items-center">
            <%= link_to "View", post_path(post), class: "btn btn-sm btn-outline-secondary" %>
            <%= render "user/likes/form", post: post, action_name: controller.action_name %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


