<div class="container px-1 py-2">
  <%= render 'layouts/errors', obj: @post %>
  <h2 class="m-3">新規投稿</h2>
  <%= form_with model: @post, local: true do |f| %>
    <div class="bg-gray row justify-content-center">
      <div class="col-md-6">
        <div class="form-new">
          <div class="form-group">
            <%= f.label :image, "画像" %>
            <%= f.file_field :image, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :title, "タイトル" %>
            <%= f.text_field :title, placeholder: "タイトル", size: "30", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :introduction, "内容" %>
            <%= f.text_area :introduction, placeholder: "ここに内容を記述します", cols: 30, rows: 5, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :genre_id, "ジャンル" %>
            <%= f.collection_select :genre_id, Genre.all, :id, :name, { prompt: "選択して下さい（無い場合は下に入力してください）" }, class: "form-control" %>
            <%= f.text_field :new_genre_name, placeholder: "新しいジャンルを入力してください", class: "form-control mt-2" %>
          </div>

          <%= f.submit "新規登録", class: "py-2 px-4 btn btn-success submit-btn" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
