<div class="container px-1 py-2">
  <h2 class="text-center">投稿詳細</h2>
  <hr class="heading-line">

  <div class="mt-4 row">
    <div class="col-12 col-lg-6 text-center p-4">
      <% if @post.image.attached? %>
        <%= image_tag @post.image, class: "w-100" %>
      <% else %>
        <%= image_tag 'no_image.png', class: "w-100" %>
      <% end %>
    </div>

    <div class="col-12 col-lg-6 mt-5 p-4">
      <table class="table">
        <tr>
          <th>タイトル</th>
          <td><%= @post.title %></td>
        </tr>
        <tr>
          <th>内容</th>
          <td><%= @post.introduction %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= @post.genre.name %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="text-center mt-4">
    <% if current_user == @post.user %>
      <%= link_to "編集する", edit_post_path(@post), class: "btn btn-primary mr-2" %>
      <%= link_to "削除する", post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
    <% end %>
  </div>

  <div class="mt-4">
    <p>コメント件数：<%= @post.comments.count %></p>
    <% @post.comments.each do |comment| %>
      <div class="card mb-2">
        <div class="card-body d-flex align-items-center">
          <div>
            <p><%= image_tag comment.user.get_profile_image, size: '100x100' %></p>
            <%= link_to comment.user.name, users_my_page_path(comment.user) %>
          </div>
          <div class="ml-3">
            <%= comment.content %>
          </div>
        </div>
        <% if comment.user == current_user %>
          <div class="card-footer text-right">
            <%= link_to "編集", edit_post_comment_path(@post, comment), class: "btn btn-sm btn-primary mr-2" %>
            <%= link_to "削除", post_comment_path(@post, comment), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-danger mr-2" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="mt-4">
    <%= form_with model: [@post, @comment], url: post_comments_path(@post) do |f| %>
      <%= f.text_area :content, rows: '5', placeholder: "コメントをここに", class: "form-control" %>
      <%= f.submit "送信する", class: "btn btn-primary mt-2" %>
    <% end %>
  </div>
</div>
