<div class="container mt-5 px-1 py-2">
  <div class="row">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div class="text-center">
        <h2 class="mb-4 d-inline">投稿詳細</h2>
        <div class="text-left">
          <%= link_to "投稿一覧へ", posts_path, class: "btn btn-secondary d-inline btn-back" %>
        </div>
      </div>
      <hr class="heading-line mb-4">
      
      <div class="card mt-4 mx-auto">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <%= image_tag @post.user.get_profile_image, size: '50x50', class: "rounded-circle mr-3" %>
            <div>
              <% if @post.user == current_user %>
                <%= link_to @post.user.name, my_page_path, class: "text-dark font-weight-bold" %>
              <% else %>
                <%= link_to @post.user.name, user_path(@post.user), class: "text-dark font-weight-bold" %>
              <% end %>
            </div>
          </div>
      
          <div class="p-4">
            <div class="row mb-3">
              <div class="col-4 text-muted" style="border-bottom: 1px solid #ccc;">ジャンル</div>
              <div class="col-8 font-weight-bold" style="border-bottom: 1px solid #ccc;">
                <%= link_to @post.genre.name, genre_search_path(genre_id: @post.genre.id) %>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4 text-muted" >タイトル</div>
              <div class="col-8 font-weight-bold"></div>
            </div>
            <div class="row mb-3">
              <div class="col-12" style="border-bottom: 1px solid #ccc;">
                <div class="font-weight-bold"><%= @post.title %></div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4 text-muted">内容</div>
              <div class="col-8 font-weight-bold" ></div>
            </div>
            <div class="row mb-3">
              <div class="col-12" style="border-bottom: 1px solid #ccc;">
                <div class="font-weight-bold"><%= simple_format @post.introduction %></div>
              </div>
            </div>
      
            <% if @post.image.attached? %>
              <div class="text-center p-4 mb-4">
                <%= image_tag @post.image, class: "w-100 rounded shadow-sm" %>
              </div>
            <% end %>
      
            <div>
              <%= render "user/likes/form", post: @post, action_name: controller.action_name %>
            </div>
          </div>
      
          <% if current_user == @post.user %>
            <div class="card-footer d-flex justify-content-between align-items-center">
              <div class="d-flex">
                <%= link_to "編集する", edit_post_path(@post), class: "btn btn-sm btn-outline-primary mr-2" %>
                <%= button_to "削除する", post_path(@post), method: :delete, remote: true, class: "btn btn-sm btn-outline-danger" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="mt-4 mx-auto" style="max-width: 600px;">
        <h3>コメント</h3>
        <div id="post-comments-container" >
          <div id="post-comments">
            <% @comments.each do |comment| %>
              <%= render 'user/comments/comment', post: @post, comment: comment %>
            <% end %>
          </div>
        </div>
      </div>

      <div>
        <%= render "user/comments/comment_form", post: @post, comment: @comment %>
      </div>
    </div>
  </div>
</div>
