<div class="collapse navbar-collapse" id="navbarNavDropdown">
  <ul class="navbar-nav ml-auto">
    <% if admin_signed_in? %>
      <li class="nav-item"><%= link_to admin_posts_path, class: "nav-link" do %>
        <div class="nav-icon">
          <i class="fas fa-list-alt fa-2x"></i>
          <small>投稿一覧</small>
        </div>
      <% end %></li>
      <li class="nav-item"><%= link_to admin_users_path, class: "nav-link" do %>
        <div class="nav-icon">
          <i class="fas fa-users fa-2x"></i>
          <small>会員一覧</small>
        </div>
      <% end %></li>
      <li class="nav-item"><%= link_to admin_genres_path, class: "nav-link" do %>
        <div class="nav-icon">
          <i class="fas fa-tags fa-2x"></i>
          <small>ジャンル一覧</small>
        </div>
      <% end %></li>
      <li class="nav-item"><%= link_to destroy_admin_session_path, method: :delete, class: "nav-link" do %>
        <div class="nav-icon">
          <i class="fas fa-sign-out-alt fa-2x"></i>
          <small>ログアウト</small>
        </div>
      <% end %></li>
    <% elsif user_signed_in? %>
      <p class="navbar-text" style="margin-top: 1rem;">ようこそ、<%= current_user.name %>さん　　</p>
      <li class="nav-item"><%= link_to my_page_path, class: "nav-link" do %>
        <div class="nav-icon">
          <i class="fas fa-user fa-2x"></i>
          <small>マイページ</small>
        </div>
      <% end %></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="nav-icon">
            <i class="fas fa-list-alt fa-2x"></i>
            <small>投稿一覧</small>
          </div>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to '投稿一覧', posts_path, class: "dropdown-item" %>
          <%= link_to '解決済み', posts_path(best_answer: "true"), class: "dropdown-item" %>
          <%= link_to '回答受付中', posts_path(best_answer: "false"), class: "dropdown-item" %>
        </div>
      </li>
      <% if current_user.email != "guest@example.com" %>
        <li class="nav-item"><%= link_to new_post_path, class: "nav-link" do %>
          <div class="nav-icon">
            <i class="fas fa-edit fa-2x"></i>
            <small>新規投稿</small>
          </div>
        <% end %></li>
        <li class="nav-item"><%= link_to likes_path, class: "nav-link" do %>
          <div class="nav-icon">
            <i class="fas fa-heart fa-2x"></i>
            <small>いいね一覧</small>
          </div>
        <% end %></li>
        <% if unchecked_notifications.any? %>
          <li class="nav-item"><%= link_to notifications_path, class: "nav-link" do %>
            <div class="nav-icon">
              <i class="fa-solid fa-bell fa-2x"></i>
              <small>通知</small>
              <i class="fa-solid fa-circle fa-sm text-danger alert-mark"></i>
            </div>
          <% end %></li>
        <% else %>
          <li class="nav-item"><%= link_to notifications_path, class: "nav-link" do %>
            <div class="nav-icon">
              <i class="fa-solid fa-bell fa-2x"></i>
              <small>通知</small>
            </div>
          <% end %></li>
        <% end %>
      <% end %>
      <li class="nav-item"><%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
        <div class="nav-icon">
          <i class="fas fa-sign-out-alt fa-2x"></i>
          <small>ログアウト</small>
        </div>
      <% end %></li>
    <% else %>
      <li class="nav-item"><%= link_to about_path, class: "nav-link" do %>
        <div class="nav-icon">
          <i class="fas fa-info-circle fa-2x"></i>
          <small>About</small>
        </div>
      <% end %></li>
      <li class="nav-item"><%= link_to new_user_registration_path, class: "nav-link" do %>
        <div class="nav-icon">
          <i class="fas fa-user-plus fa-2x"></i>
          <small>新規登録</small>
        </div>
      <% end %></li>
      <li class="nav-item"><%= link_to new_user_session_path, class: "nav-link" do %>
        <div class="nav-icon">
          <i class="fas fa-sign-in-alt fa-2x"></i>
          <small>ログイン</small>
        </div>
      <% end %></li>
      <li class="nav-item"><%= link_to user_guest_sign_in_path, method: :post, class: "nav-link" do %>
        <div class="nav-icon">
          <i class="fa-regular fa-user fa-2x"></i>
          <small>ゲストログイン</small>
        </div>
      <% end %></li>
    <% end %>
  </ul>
</div>
