<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="/"><%= image_tag('cookhint.png', style: "max-height: 100px; width: auto;") %></a>
      <div class="seach text-right">
        <!-- search start -->
        <% if user_signed_in? || admin_signed_in? %>
          <% if admin_signed_in? %>
            <%= form_with url: admin_search_path, method: :get do |f| %>
              <%= f.radio_button :search_obj, :users, checked: "checked", value: "users", class: "cursor"%>
              <%= f.label :search_obj_users, "ユーザー", class: "cursor" %>
              <%= f.radio_button :search_obj, :posts, value: "posts", class: "cursor" %>
              <%= f.label :search_obj_posts, "投稿", class: "cursor" %>
              <%= f.text_field :keyword, placeholder: " 検索" %>
              <%= button_tag type: "submit", class: "color-green" do %>
                <i class="fas fa-search text-white"></i>
              <% end %>
            <% end %>
          <% else %>
            <%= form_with url: search_path, method: :get do |f| %>
              <%= f.text_field :keyword, placeholder: " 検索" %>
              <%= button_tag type: "submit", class: "color-green" do %>
                <i class="fas fa-search text-white"></i>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- menu start -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if admin_signed_in? %>
            <li class="nav-item"><%= link_to '投稿一覧',  admin_posts_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to '会員一覧',  admin_users_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to 'ジャンル一覧',  admin_genres_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "nav-link" %></li>
          <% elsif user_signed_in? %>
            <p class="navbar-text">ようこそ、<%= current_user.name %>さん!</p>
            <li class="nav-item"><%= link_to 'マイページ', my_page_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to '投稿一覧', posts_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to '新規投稿', new_post_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to 'いいね一覧', likes_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link" %></li>
          <% else %>
            <li class="nav-item"><%= link_to 'About', about_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to '投稿一覧', posts_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to '新規登録', new_user_registration_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "ゲストログイン（閲覧用）", user_guest_sign_in_path, class: "nav-link", method: :post %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>